# dependencies
node_modules/

# env files
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode/

# build files
dist/
build/

# coverage
coverage/

# temporary files
tmp/
temp/

# package lock optional
# package-lock.json